footer{
    text-align: left;
    padding-top: 4rem;
    overflow: hidden;
    position: relative;
}

.footer-curve {
    position: absolute;
    top: 0;
    right: 4rem;
}

.top-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem 0 3rem 14rem;
    gap: 8rem;
}


.navigation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-link, 
.legal-links p, 
.contact-item p {
    color: #999; 
    font-size: 0.9rem;
    margin: 0;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-link:hover, 
.legal-links p:hover {
    color: #fff; 
}

.nav-link{
    text-decoration: none;
    text-align: left;
}

.legal-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-item {
    display: flex;
    align-items: center; 
    gap: .6rem; 
}

.contact-item.align-top {
    align-items: flex-start;
}


.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 75%;          
    margin: 0 auto; 
    
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    padding-top: 1rem;
}

.bottom-text {
    font-size: 200px;
    padding: 0 3rem;
    margin: 0;
    color: #FFFFFF40;
}
.footer-image{
    width: 150px;
    height: auto;
}

.copyright-text{
    text-align: center;
    color: #999;
    font-size: 12px;
}


@media screen and (max-width: 768px) {
    
    footer {
        padding-top: 2rem;
        text-align: left; 
    }

    .footer-curve {
        display: none;
    }

    .top-section {
        flex-direction: column; 
        padding: 0 2rem;
        gap: 3rem; 
    }

    .footer-heading, p:first-child { 
        margin-bottom: 1rem;
        font-weight: 600;
        color: #fff;
    }

    .bottom {
        width: 100%; 
        flex-direction: row; 
        justify-content: center;
        gap: 10px; 
        padding: 2rem 1rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 2rem;
    }

    .bottom-text {
        font-size: 48px; 
        padding: 0;
        line-height: 1;
    }

    .footer-image {
        width: 60px; 
    }

    .copyright {
        padding-bottom: 2rem;
    }
}