footer{
    text-align: left;
    padding-top: 4rem;
    overflow: hidden;
    position: relative;
}

.footer-curve {
    position: absolute;
    top: 0;
    right: 4rem;
    
    
    /* Ensure it doesn't block clicks on links if they overlap */
    /* pointer-events: none;  */
    
    /* Optional: Send it behind text if it overlaps */
    /* z-index: 0; / */
}

.top-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-bottom: 3rem; */
    /* padding-top: 4rem; */
    padding: 3rem 0 3rem 14rem;
    gap: 8rem;
    /* flex-wrap: wrap; */
}


.navigation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-link, 
.legal-links p, 
.contact-item p {
    color: #999; /* Grey text by default */
    font-size: 0.9rem;
    margin: 0;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-link:hover, 
.legal-links p:hover {
    color: #fff; /* White on hover */
}

.nav-link{
    text-decoration: none;
    text-align: left;
}

.legal-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-item {
    display: flex;
    align-items: center; 
    gap: .6rem; 
}

.contact-item.align-top {
    align-items: flex-start;
}


.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 75%;          
    margin: 0 auto; 
    
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    padding-top: 1rem;
}

.bottom-text {
    font-size: 200px;
    padding: 0 3rem;
    margin: 0;
    color: #FFFFFF40;
}
.footer-image{
    width: 150px;
    height: auto;
}

.copyright-text{
    text-align: center;
    color: #999;
    font-size: 12px;
}